@font-face {
  font-family: "Undertale Sans";
  src: url("font.otf");
}
* {
  font-family: "Undertale Sans";
  background-color: black;
  color: white;
  font-size: 50px;
}
div {
  text-align: center;
  margin-top: 50px;
}
